.jumbotron {
	padding-top: 20px;
	padding-bottom: 108px;
	background-image: url("../images/train.gif");
	background-position: center;
}


.card-header {
	background-color: rgb(4, 4, 114);
	 /* background-color: rgba(7, 3, 3, 0.596);  */
	
	color: white;

}

#add-train {
	margin-bottom: 20px;
}
#grad {
	background: linear-gradient(#62B9A9, #ff7a51);
}

#localtime {
	background-color: transparent;
	color: black;
	border: 10px;
	border-color: black;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	

}

#formdiv {
	margin-bottom: 150px;
}
